/* 产品页面背景 */
#page-product {
    background: #E9EFEA;
}

.product-title {
    font-size: 22px;
    color: #186B53;
    margin-bottom: 24px;
    text-align: center;
}

.product-item {
    background: white;
    padding: 16px;
    border-radius: 12px;
    margin: 12px 0;
    width: 100%;
    max-width: 320px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.product-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.product-name {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 6px;
}

.product-desv {
    color: #666;
    font-size: 14px;
}

.carousel-container {
    width: 100%;
    max-width: 320px;
    position: relative;
}

.carousel-image {
    /* width: 100%; */
    height: 320px;
    object-fit: cover;
    border-radius: 16px;
    /* background: #f0f0f0; */
}

.carousel-nav {
    margin-top: 12px;
    display: flex;
    justify-content: center;
    gap: 12px;
    align-items: center;
}

.nav-btn {
    padding: 6px 12px;
    background: #f0f0f0;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    border: #707974 1px solid;
    justify-content: center;
    align-items: center;
}

#product-desc-text {
    margin-top: 16px;
    font-size: 16px;
    color: #171D1A;
    max-width: 320px;
}

.product-index {
    text-align: center;
    color: #171D1A;
}